@import "tailwindcss";
body,
body .site-main {
  overflow-x: hidden;
  position: relative;
  width: 100%;
}

body .site-main:before {
  background-color: var(--col-bg-fake);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
}

.header__wrapper {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  height: 6.25rem;
  width: 100%;
  background: #ccc;
}

.header__block {
  align-items: center;
  display: flex;
}

.header__block span {
  display: block;
  font-size: 0.875rem;
  line-height: 1.2;
}

.header__block--left {
  grid-column: 1 / span 4;
  justify-content: flex-start;
}

.header__block--center {
  grid-column: 5 / span 4;
  justify-content: center;
}

.header__block--right {
  grid-column: 9 / span 4;
  justify-content: flex-end;
}

.header__logo {
  align-items: center;
  display: flex;
}

.header__pinwheel {
  height: 2.5rem;
  overflow: hidden;
  position: relative;
  width: 1.25rem;
  z-index: 1;
}

.header__pinwheel-svg {
  height: 2.5rem;
  left: 0;
  position: absolute;
  top: 0;
  transform: rotate(-24deg);
  width: 2.5rem;
}

.header__pinwheel-svg path {
  fill: var(--col-pinwheel);
}

.header__pinwheel-svg path:nth-child(2),
.header__pinwheel-svg path:nth-child(5) {
  fill: var(--col-accent);
}

.header__author {
  padding: 0 0.3125rem;
  position: relative;
  z-index: 2;
}

.header__name {
  color: var(--col-text);
  font-weight: 600;
  text-transform: uppercase;
}

.header__role {
  color: var(--col-text-500);
  font-weight: 500;
  text-transform: uppercase;
}

.header__colors {
  height: 2.75rem;
  left: 0.5rem;
  position: relative;
  width: 2.75rem;
}

.header__colors-picker {
  height: 1.5rem;
  width: 1.8125rem;
}

.header__colors-picker g {
  fill: var(--col-text);
}

.header__colors-picker path {
  transition: fill 0.2s ease-in-out;
}

.header__version span {
  letter-spacing: 0.125rem;
}

.header__version b {
  color: var(--col-accent);
  font-weight: 500;
}

@media (min-width: 1025px) and (hover: hover) and (pointer: fine) {
  .header__colors:hover path:not(.drop) {
    fill: var(--col-accent);
  }
}

@media (max-width: 1024px) {
  .header__block--center {
    display: none;
  }
}

@media (max-width: 767px) {
  .header__wrapper {
    height: 4.375rem;
  }

  .header__block--left {
    grid-column: 1 / span 8;
  }

  .header__block span {
    font-size: 0.75rem;
  }

  .header__pinwheel {
    height: 1.875rem;
    width: 0.9375rem;
  }

  .header__pinwheel-svg {
    height: 1.875rem;
    width: 1.875rem;
  }

  .header__colors-picker {
    width: 1.5rem;
  }
}
.grid {
  display: grid;
  gap: 3.125rem;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.container {
  margin: 0 auto;
  padding-left: 3.125rem;
  padding-right: 3.125rem;
  width: 100%;
}

:root {
  --preloader-bg: #fff;
  --preloader-text: #000;
  --preloader-accent: #e11d48;
  --cursor-small: #fff;
  --cursor-large: #e11d48;
  --cursor-text: #000;
  --canvas-bg: #000;
  --canvas-text: #fff;
  --overlay-project: rgba(0, 0, 0, 0.7);
  --overlay-about: rgba(0, 0, 0, 0.3);
  --repeat-text-bg: #000;
  --col-pinwheel: #fff;
  --col-border: #3d3d3d;
  --col-arrow: #fff;
  --col-accent: #e11d48;
  --col-text: #fff;
  --col-text-500: hsla(0, 0%, 100%, 0.7);
  --col-text-deco: hsla(0, 0%, 100%, 0.05);
  --col-bg: #000;
  --col-bg-fake: transparent;
}

.theme-green {
  --cursor-small: #c3ccc5;
  --cursor-large: #7ad390;
  --cursor-text: #343b37;
  --overlay-project: rgba(47, 58, 50, 0.8);
  --overlay-about: rgba(47, 58, 50, 0.6);
  --repeat-text-bg: #141816;
  --col-pinwheel: #c3ccc5;
  --col-border: #343b37;
  --col-arrow: #c3ccc5;
  --col-accent: #7ad390;
  --col-text: #c3ccc5;
  --col-text-500: hsla(133, 8%, 78%, 0.7);
  --col-text-deco: hsla(133, 8%, 78%, 0.05);
  --col-bg-fake: rgba(52, 59, 55, 0.4);
}

.theme-orange {
  --cursor-small: #d8d2cf;
  --cursor-large: #d77f55;
  --cursor-text: #603e2b;
  --overlay-project: rgba(100, 76, 43, 0.8);
  --overlay-about: rgba(100, 76, 43, 0.6);
  --repeat-text-bg: #603e2b;
  --col-pinwheel: #d8d2cf;
  --col-border: #8e7567;
  --col-arrow: #d8d2cf;
  --col-accent: #d77f55;
  --col-text: #d8d2cf;
  --col-text-500: hsla(20, 10%, 83%, 0.7);
  --col-text-deco: hsla(20, 10%, 83%, 0.05);
  --col-bg-fake: hsla(21, 81%, 68%, 0.4);
}

.theme-blue {
  --cursor-small: #c0d2e2;
  --cursor-large: #61a9f0;
  --cursor-text: #33456a;
  --overlay-project: rgba(43, 71, 100, 0.8);
  --overlay-about: rgba(43, 71, 100, 0.6);
  --repeat-text-bg: #151c2a;
  --col-pinwheel: #c0d2e2;
  --col-border: #67808e;
  --col-arrow: #c0d2e2;
  --col-accent: #61a9f0;
  --col-text: #c0d2e2;
  --col-text-500: rgba(192, 210, 226, 0.7);
  --col-text-deco: rgba(192, 210, 226, 0.05);
  --col-bg-fake: rgba(51, 69, 106, 0.4);
}

.theme-violet {
  --cursor-small: #cfc0e2;
  --cursor-large: #cd61f0;
  --cursor-text: #51336a;
  --overlay-project: rgba(68, 43, 100, 0.8);
  --overlay-about: rgba(68, 43, 100, 0.6);
  --repeat-text-bg: #21142a;
  --col-pinwheel: #cfc0e2;
  --col-border: #7d678e;
  --col-arrow: #cfc0e2;
  --col-accent: #cd61f0;
  --col-text: #cfc0e2;
  --col-text-500: rgba(207, 192, 226, 0.7);
  --col-text-deco: rgba(207, 192, 226, 0.05);
  --col-bg-fake: rgba(81, 51, 106, 0.4);
}

.theme-light {
  --cursor-small: #000;
  --cursor-large: #e11d48;
  --cursor-text: #fff;
  --canvas-bg: #fff;
  --canvas-text: #0b0b0b;
  --overlay-project: hsla(0, 0%, 100%, 0.7);
  --overlay-about: hsla(0, 0%, 100%, 0.3);
  --repeat-text-bg: #fff;
  --col-pinwheel: #000;
  --col-border: #3d3d3d;
  --col-arrow: #000;
  --col-accent: #e11d48;
  --col-text: #000;
  --col-text-500: rgba(0, 0, 0, 0.7);
  --col-text-deco: rgba(0, 0, 0, 0.05);
  --col-bg: #fff;
  --col-bg-fake: transparent;
}

.theme-light .hero-header__slogan {
  mix-blend-mode: color-burn;
}

.not-clickable {
  pointer-events: none;
}

*,
:after,
:before {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--col-bg);
  min-height: 100vh;
  min-height: -webkit-fill-available;
}
